:root {
  --clr-bg: #f9f4e8;
  --clr-text: #525252;
  --clr-primary: #4977ea;
  --clr-primary-hover: #559beb;
  --clr-primary-active: #4548ec;
  --clr-gradient-1: #eab450;
  --clr-gradient-2: #ea5175;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

body {
  background: var(--clr-bg);
  color: var(--clr-text);
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 84%;
  max-width: 1150px;
  margin: 0 auto;
  font-size: 1.8rem;
}

.cta-btn {
  display: inline-block;
  padding: 2rem 2.5rem;
  border-radius: .5rem;
  color: white;
  background: var(--clr-primary);
  margin-left: 1.5rem;
  text-transform: capitalize;
  white-space: nowrap;
  border: none;
  outline: transparent;
  font-size: 1.8rem;
  font-family: inherit;
  cursor: pointer;
  transition: .02s ease-in-out;
}

.cta-btn:hover, .cta-btn:focus {
  background: var(--clr-primary-hover);
}

.cta-btn:active {
  background: var(--clr-primary-active);
}

header {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__hiring-label {
  font-size: 1rem;
  padding: .5rem 1.2rem;
  background: linear-gradient(90deg, var(--clr-gradient-1), var(--clr-gradient-2));
  border-radius: 5rem;
  color: #fff;
  margin-left: 1.25rem;
  pointer-events: none;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__nav ul {
  display: flex;
  position: relative;
}

.header__nav-item {
  margin-left: 2.5rem;
  list-style: none;
  text-transform: capitalize;
}

.header__menu-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background: transparent;
  border: 0;
  outline: transparent;
  cursor: pointer;
}

.header__menu-btn img {
  width: 100%;
}

main {
  width: 100%;
  height: auto;
  padding: 16rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__copy {
  width: 50rem;
  margin-right: 6rem;
}

.main__copy h1 {
  font-size: 5rem;
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  line-height: 1.2;
  color: #000;
  font-weight: 700;
}

.main__copy p {
  padding: 2rem 0;
  line-height: 1.5;
}

.input-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-block input {
  width: 100%;
  font-size: inherit;
  padding: 2rem;
  border: 1px solid transparent;
  outline: transparent;
  background: #fff;
  border-radius: .5rem;
}

.input-block input:active, .input-block input:focus {
  border: 1px solid var(--clr-primary);
}

.error {
  font-size: 1.4rem;
  color: red;
  margin-top: -1.5rem;
  display: none;
}

.error.active {
  display: block;
}

.disclaimer {
  display: flex;
  align-items: center;
}

.disclaimer img {
  margin-right: 1.5rem;
}

.main__image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
}

.image-1, .image-2, .image-3 {
  position: absolute;
  width: 100%;
}

.image-1 {
  transform: rotateZ(-45deg);
  z-index: 1;
}

.image-2 {
  transform: rotateZ(-30deg);
  z-index: 2;
}

.image-3 {
  transform: rotateZ(-15deg);
  z-index: 3;
}

.image-4 {
  width: 100%;
  z-index: 4;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 6.5rem;
}

.footer__nav ul {
  display: flex;
  align-items: center;
}

.footer__nav-item {
  margin-right: 2.5rem;
  list-style: none;
}

.footer__help {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.footer__help img {
  margin-right: 1.5rem;
}

.help-text > p:first-child {
  font-family: 'Playfair Display', 'Times New Roman', Times, serif;
  color: #000;
}

.help-text > p:last-child {
  color: #000;
  font-weight: 700;
}

@media screen and (max-width: 980px) {
  .header__nav ul {
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 40%;
    transform: translateX(100%);
    z-index: 5;
    transition: transform .2s ease-in-out;
    background: white;
    padding: 10rem 1rem 0rem 1rem;
    border-left: 5px solid var(--clr-primary);
  }

  .header__nav-item {
    margin-left: unset;
    margin-bottom: .5rem;
  }

  .header__nav-item a {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    transition: .02s ease-in-out;
  }

  .header__nav-item a:hover, .header__nav-item a:focus {
    background: var(--clr-primary);
    color: #fff;
  }

  .header__nav ul.open {
    transform: translateX(0);
  }

  .header__menu-btn {
    display: flex;
    z-index: 6;
  }

  .header__cta {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0 0 8rem 0;
  }

  .main__copy {
    order: 2;
    margin-right: unset;
    width: 100%;
  }

  .join {
    width: 80%;
  }

  .main__image {
    order: 1;
    max-width: 40rem;
    width: auto;
  }
}

@media screen and (max-width: 580px) {
  .header__nav ul {
    width: 60%;
  }

  .main__image {
    width: 75%;
    padding: 6rem 0;
  }

  .join {
    width: 100%;
  }

  .input-block {
    display: flex;
    flex-direction: column;
  }

  .cta-btn {
    margin-left: unset;
    margin-top: 1.5rem;
    width: 100%;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;
  }

  .footer__nav {
    margin-bottom: 6rem;
  }
}